<ion-view title="Carpetas">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	<div class="wait"></div>
    <ion-list class="ListMain">
        <ion-item ng-repeat="C in Carpetas" type="item-text-wrap" href="#/app/CrptaPrdccion/{{C.SERIECARP}}/{{C.CODIGOTIPO}}/{{C.CODIGO}}">
            <h2> <span class="{{icon}}"></span> <span class="label">{{C.NOMBRE}}</span></h2>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
