/* Empty. Add your own CSS if you like */
/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.details {
    padding: 0px 12px 20px 12px;
}

.details img {
    float: left;
    margin-right: 12px;
}

.list {
    clear: both;
}

.bar.bar-positive{
	background-color: #0088cc !important;
}

.ListMain h2{
	float: left;
	padding-right: 5px;
	font-size: 15px;
}

.ListMain .icon{
	color: #007aff;
	font-size: 24px;
}

.ListMain .label{
    line-height: 25px;
    position: relative;
}